.attribution {
    font-size: 11px; 
    text-align: center;
    margin-bottom: 5px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.spacer {
    flex-grow: 1;
}

body {
    height: 100vh;
    margin: 0px;
    background-color: #D5E1EF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.card {
    background: white;
    width: 320px;
    border-radius: 20px;
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
    padding: 16px;
    box-sizing: border-box;
}

.qr-code {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 24px;
}

.header {
    color: #1F314F;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

.body {
    color: #7D889E;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.188px;
    margin: 0 16px 24px;
}